<section class="section background">
  <div class="section__title">Hintergrund</div>
  <div class="section__content">
    <p>
      Ich arbeite momentan nebenbei als Freiberuflicher Webentwickler und
      entwickle verschiedenste Dinge für's Web, entweder allein oder zusammen
      mit Anderen. Vor kurzem habe ich meine Ausbildung zum Fachinformatiker
      abgeschlossen. Den größten Teil meines Wissens habe ich mir trotzdem
      selbst angeeignet. Momentan arbeite ich an einigen
      <a class="underline-link" href="https://opensource.org" target="_blank"
        >Open-Source</a
      >
      Projekten auf
      <a
        class="underline-link"
        href="https://github.com/TimoZacherl"
        target="_blank"
        >GitHub</a
      >.
    </p>

    <p>
      Als Softwareentwickler lege ich viel Wert darauf, die Lücke zwischen
      benutzerfreundlichem Design und einer zuverlässigen Software zu füllen
      &mdash; ich kombiniere mein technisches Wissen und mein Auge fürs Design,
      um ein möglichst gutes Produkt zu kreieren. Mein Ziel ist es Anwendungen
      zu entwickeln, die unter der Haube skalierbar und effizient arbeiten,
      während sie dem Benutzer die bestmögliche Erfahrung liefern.
    </p>

    <p>
      <strong>Wenn ich nicht vor dem Computer sitze</strong>, bin ich
      wahrscheinlich mit dem Mountain Bike oder dem Penny Board unterwegs.
    </p>

    {% include employment-status.html %}
  </div>
</section>
