<section class="section featured-projects">
  <div class="section__title">{% t featured-projects.title %}</div>
  <div class="section__content">
    <div class="project peter">
      <figure class="project__pic">
        <a href="https://peter-holzhandel.de/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/peter/peter.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://peter-holzhandel.de/" target="_blank"
            >Peter Holzhandel</a
          >
        </div>
        <p>
          {% t featured-projects.project-one.description %}
        </p>
      </figcaption>
    </div>

    <div class="project zacherl">
      <figure class="project__pic">
        <a href="https://zimmerei-zacherl.de/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/zacherl/zacherl.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://zimmerei-zacherl.de" target="_blank">
            Zimmerei Zacherl
          </a>
        </div>
        <p>
          {% t featured-projects.project-two.description %}
        </p>
      </figcaption>
    </div>
  </div>
</section>
