<header class="intro">
  <h1 class="intro__hello">
    Hallo!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">
    Ich bin <span class="name">Timo Zacherl</span>, ein Full-Stack Webentwickler
    mit Fokus auf die Entwicklung von zuverlässigen Webanwendungen mit Hilfe von
    modernsten Technologien.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Kontaktiere mich </span>
    <span class="emoji pointer"></span>
    <span>
      <a
        href="mailto:t.zacherl@icloud.com"
        target="_blank"
        class="highlight-link"
        >t.zacherl@icloud.com</a
      >
    </span>
  </h3>
</header>
