<section class="section other-projects">
  <div class="section__title">{% t other-projects.title %}</div>
  <div class="section__content">
    {% capture projects-file %}{{ 'other-projects-' | append: site.lang }}{%
    endcapture%} {% for project in site.data[projects-file] %}
    <div class="project">
      <div class="project__name">
        <a href="{{project.url}}" target="_blank" class="arrow-link"
          >{{project.name}}</a
        >
      </div>
      <p>{{project.description}}</p>
      <div class="project__used">
        {% if project.code %}
        <span class="project__used__item"
          ><a href="{{project.code}}" style="color: inherit"
            ><img
              height="14px"
              src="{{site.baseurl}}/img/social/github.svg"
              alt="GitHub"
            />
            Source-Code</a
          ></span
        >
        {% endif %} {% for item in project.used %}
        <span class="project__used__item">{{item.thing}}</span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>
